body{
    margin-top: 0;
    padding: 0;
    background:linear-gradient(to right, red , white);
}
 /*=========================
for heading,search and button
 ========================*/
div{
    text-align:center;
}
div>h2{
    font-family: 'Comforter Brush', cursive;
    font-size: 9vmin;
    color :black;
    text-decoration: underline;
    margin-bottom:10px;
}
div>input{
    background-color:transparent;
    /*font*/
    font-family: 'Comforter Brush', cursive;
    font-size: 3vmin;
    color: black;
    text-align:center;
    height:60px;
    width: max-width;
    /*border*/
    border-radius: 40px;
    border:solid black 1px; 
}
div>input:focus{
    outline: none;
    color:black;
    background-color: white;
    font-size: 5vmin;
}
div>input:hover{
    background:white;
    font-size:5vmin;
}

div>.btn{
    font-family: 'Comforter Brush', cursive;
    font-size: 4vmin;
    border:none;
    background:transparent;
}
div>.btn:focus{
    outline:none;
    font-size: 6vmin;
    color:white;
}
div>.btn:hover{
    font-size:6vmin;
    color:white;
}

 /*=========================
   for cards in the results
 ========================*/

.card {
    align-self: stretch;
    font-size: 3vmin;
    border: none;
    width: 30vmax;
    height: 100%max-content;
    display: inline-grid;
    margin: 1px 2px;
  }
.card>img{
    padding-left: 12vmin;
    width:max-width;
    height:max-height;
}